<h1>Events</h1>
<%= link_to "Create Event", new_event_url %>

<table>
  <thead>
    <th>Title</th>
    <th>Location</th>
    <th>Date</th>
  </thead>
  <tbody>
    <%= render partial: "event_row", collection: @events, as: "event" %>
  </tbody>
</table>